{% extends 'base.html' %}

{% block content %}


<!-- {% if ticker2 %}
	{% for i in ticker2 %}
		{{i}}<br/><br/>
	{% endfor %}
{% endif %} -->

<!-- {{stuff}} -->

<!-- {{api}} -->

{% for k,v  in api.items%}
	{% for k2,v2 in v.items %}
		Company: {{v2.companyName}}<br/>
		Price: ${{v2.latestPrice}}<br/>
		Previous Close: ${{v2.previousClose}}<br/>
		Market Cap: {{v2.marketCap}}<br/>
		Year to Date: {{v2.ytdChange}}<br/>
		Year high: ${{v2.week52High}}<br/>
		Year low: ${{v2.week52Low}}<br/>

		<br/><br/>
	{% endfor %}
	

{% endfor %}

	<!-- {% if api == 'Error' %}

		Please try again

	{% else %}

		<h1>{{ api.companyName }}</h1><br/>
		Price: ${{ api.latestPrice }}<br/>
		Previous Close: ${{ api.previousClose }}<br/>
		Market CAp: {{ api.marketCap }}<br/>
		Year to Date Change: {{ api.ytdChange }}<br/>
		Year high:{{ api.week52High }}<br/>
		Year low:{{ api.week52Low }}<br/>



	{% endif %} -->



{% endblock %}

